<div class="auth">
    <div id="LOGIN" data-ng-show="!profile && !showRegister">
        <input  id="USERNAME"   data-ng-model="username"        type="text"     placeholder="Username"/>
        <input  id="PASSWORD"   data-ng-model="password"        type="password" placeholder="Password"/>
        <button id="SUBMIT"     data-ng-click="login()">Submit</button>
    </div>
    <div id="LOGOUT" data-ng-show="profile">
        <button id="SUBMIT"     data-ng-click="logout()">Logout</button>
        <div>{{profile.identity.name.first}}</div>
    </div>
    <div id="MENU" data-ui-menu data-ng-show="profile"></div>
</div>
