<div class="world">
    <div class="title" >WORLD: {{world.name}}</div>
    <div class="container" data-ng-repeat="continent in world.continents">
        <div class="title">CONTINENT: {{continent.name}}</div>
        <div class="container" data-ng-repeat="region in continent.regions">
            <div class="title">REGION: {{region.name}}</div>
            <div class="container" data-ng-repeat="area in region.areas">
                <div class="title">AREA:{{area.name}}:{{area.rooms.length}} Rooms</div>
            </div>
        </div>
    </div>
</div>
